{% extends "base_auth.html" %}
{% load static socialaccount %}

{% block title %}Login to Continue{% endblock title %}

{% block content %}

<div class="mx-auto bg-white justify-content-center p-5 text-center" style="width: 450px;">
    <img src="{% static 'img/sub365-logo.svg' %}" alt="sub365-logo">
    <h6 class="my-4 text-dark">You will need to login with Discord to continue with this process.</h6>
    <a href="/accounts/discord/login/callback/" class="btn btn-success py-3 w-100">Sign in with Discord</a>
    <!-- <form method="post" action="http://127.0.0.1:8000/subscriber_auth/python/">
                    {% csrf_token %}
                    <button class="btn btn-success py-3 w-100" type="submit">
                        Sign in with Discord
                    </button>
                </form> -->
</div>

{% endblock %}