{% extends "base_core.html" %}
{% load static socialaccount %}

{% block title %}Login to Continue{% endblock title %}

{% block content %}

<div class="bg-primary py-5 vh-50">
    <div class="container my-5">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-9 mx-auto">
                <div class="bg-white justify-content-center p-5 text-center shadow-lg rounded-4">
                    <img src="{% static 'img/sub365-logo.svg' %}" alt="sub365-logo">
                    <h6 class="my-4 text-dark">You will need to sign in with Discord to continue with this
                        process.
                    </h6>
                    <form method="post" action="{% provider_login_url 'discord' %}">
                        {% csrf_token %}
                        <button class="btn btn-primary py-3 w-100" type="submit">
                            <i class="fa-brands fa-discord"></i> Sign in with Discord
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
