{% extends "base_auth.html" %}
{% load static socialaccount %}

{% block title %}Login to Continue{% endblock title %}

{% block content %}

<div class="mx-auto bg-white justify-content-center p-5 text-center" style="width: 450px;">
    <img src="{% static 'img/sub365-logo.svg' %}" alt="sub365-logo">
    <h6 class="my-4 text-dark">You will need to sign in with Discord to continue with this process.</h6>
    <form method="post" action="/accounts/discord/login/">
        {% csrf_token %}
        <button class="btn btn-primary py-3 w-100" type="submit">
            <i class="fa-brands fa-discord"></i> Sign in with Discord
        </button>
    </form>
</div>

{% endblock %}
