{% load static widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coinbase Onboarding Process | Sub365.co</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{% static 'styles/bootstrap-5.3.0.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap5.css' %}" rel="stylesheet">
    <link href="{% static 'styles/app5.css' %}" rel="stylesheet">
</head>

<body>

    <main class="container-fluid bg-primary">
        <div class="row py-5">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-9 mx-auto">
                        <div class="bg-white justify-content-center px-5 pt-5 pb-3 text-center shadow-lg rounded-4">
                            <a href="{% url 'index' %}"><img src="{% static 'img/sub365-logo.svg' %}"
                                    alt="sub365-logo"></a>
                            <h6 class="my-4 text-dark">Enter the information below to connect your account with Coinbase
                            </h6>
                            <div class="text-start mb-3">
                                <form action="" method="post">
                                    {% csrf_token %}

                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger border-5 border-danger border-top-0 border-end-0 border-bottom-0 mb-1"
                                        role="alert">
                                        <i class="fa-solid fa-triangle-exclamation me-1"></i> {{ error }}
                                    </div>
                                    {% endfor %}

                                    <div class="row g-3 mb-3">
                                        <div class="form-group">
                                            {% for error in form.coinpayment_api_secret_key.errors %}
                                            <div class="alert alert-danger border-5 border-danger border-top-0 border-end-0 border-bottom-0 mb-1"
                                                role="alert">
                                                <i class="fa-solid fa-triangle-exclamation me-1"></i> {{ error }}
                                            </div>
                                            {% endfor %}
                                            {% render_field form.coinpayment_api_secret_key %}
                                        </div>

                                        <div class="form-group">
                                            {% for error in form.coinpayment_api_public_key.errors %}
                                            <div class="alert alert-danger border-5 border-danger border-top-0 border-end-0 border-bottom-0 mb-1"
                                                role="alert">
                                                <i class="fa-solid fa-triangle-exclamation me-1"></i> {{ error }}
                                            </div>
                                            {% endfor %}
                                            {% render_field form.coinpayment_api_public_key %}
                                        </div>

                                    </div>

                                    <button class="btn btn-primary py-3 w-100" type="submit">
                                        Connect with Coinpayments
                                    </button>
                                </form>
                            </div>
                            <p class="text-center">If you want to terminate account creation,<br>
                                <a data-bs-toggle="modal" data-bs-target="#deleteAccount"
                                    class="btn btn-sm btn-link">Click
                                    Here</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="container mt-auto">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-lg-0 text-body-secondary ps-0">&copy;{% now "Y" %} &bull; All rights reserved</p>

            <a href="{% url 'index' %}"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                <img src="{% static 'img/sub365-logo.svg' %}" alt="sub365-logo">
            </a>

            <ul class="nav col-md-4 justify-content-end pe-0">
                <li class="nav-item"><a href="/about/" class="nav-link px-2 text-body-secondary">About</a></li>
                <li class="nav-item"><a href="/feedback/" class="nav-link px-2 text-body-secondary">Feedback</a></li>
                <li class="nav-item"><a href="/policy/" class="nav-link px-2 text-body-secondary">Privacy Policy</a>
                </li>
            </ul>
        </footer>
    </div>

    <div id="deleteAccount" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Account Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Maybe you have clicked on a wrong link or need to register as a subscriber, you can delete your
                        account and start afresh.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <form action="{% url 'delete_account' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash me-1"></i> Delete
                            Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>

</html>
