<div class="col-xl-3 col-sm-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col me-2">
                    <div class="text-xs fw-normal text-primary text-uppercase mb-1">
                        {% block data_title %}{% endblock data_title %}
                    </div>
                    <div class="h5 mb-0 text-secondary">{% block data_value %}{% endblock data_value %}
                    </div>
                    <span class="text-danger small">{% block extra_value %}{% endblock extra_value %}</span>
                </div>
                <div class="col-auto">
                    <i
                        class="fa-solid text-opacity-50 {% block data_icon %}{% endblock data_icon %} fa-2x text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div>
