{% load widget_tweaks %}

<div class="modal fade" id="affiliateModal" tabindex="-1" role="dialog" aria-labelledby="affiliateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="affiliateModalLabel">Become an Affiliate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'upgrade_to_affiliate' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>You will become an Affiliate and be able to invite users to the server <span
                            class="text-primary text-decoration-underline">{{ server_owner.get_choice_server }}</span>
                        for a commission.</p>
                    <div class="col-12">
                        {% for error in form.body.errors %}
                        <div class="alert alert-danger border-5 border-danger border-top-0 border-end-0 border-bottom-0 mb-1"
                            role="alert">
                            <i class="fa-solid fa-triangle-exclamation me-1"></i> {{ error }}
                        </div>
                        {% endfor %}
                        {% if serverowner.coinbase_onboarding %}
                            <label class="form-label" for="{{ form.body.id_for_label }}">Litecoin Address:</label>
                            {% render_field form.body placeholder="Please enter your litecoin address" %}
                        {% else %}
                            <label class="form-label" for="{{ form.body.id_for_label }}">Payment Method:</label>
                            {% render_field form.body placeholder="Describe how you will like to be paid your commission" %}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-outline-dark" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-user-tie me-1"></i> Become an
                        Affiliate</button>
                </div>
            </form>
        </div>
    </div>
</div>
