<div class="modal fade" id="cancelSubscription" tabindex="-1" role="dialog"
    aria-labelledby="cancelSubscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Cancel Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                <p>Are you sure you want to cancel your subscription?</p>
                <p>Your subscription will not be renewed if you proceed and you will lose access to the server once your
                    current subscription expires.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-dark" type="button" data-bs-dismiss="modal">Close</button>
                <form method="POST" action="{% url 'subscription_cancel' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-ban me-1"></i>
                        Cancel Subscription</button>
                </form>
            </div>
        </div>
    </div>
</div>
