{% extends "base.html" %}
{% load widget_tweaks humanize %}
{% block title %}My Dashboard{% endblock title %}

{% block content %}

{% if subscription %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h3 class="mb-0 text-secondary">Welcome back!</h3>
        <small>Here is your dashboard overview</small>
    </div>
    <div>
        {% if not user.is_affiliate %}
        <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#affiliateModal"><i
                class="fas fa-user-tie me-1"></i> Become an Affiliate</a>
        {% endif %}
        {% if subscription.status == 'A' %}
        <a class="btn btn-danger btn-sm" data-bs-target="#cancelSubscription" data-bs-toggle="modal"><i
                class="fas fa-ban me-1"></i> Cancel
            Subscription</a>
        {% endif %}
    </div>
</div>
<div class="row mb-4">
    {% include 'subscriber/_payment_due.html' %}
    {% include 'subscriber/_current_bill.html' %}
    {% include 'subscriber/_current_plan.html' %}
</div>

<h5 class="text-secondary mb-3">Subscription History</h5>

<div class="row g-4 mb-5">
    {% for subscription in subscriptions %}
    <div class="col-lg-4 col-sm-6">
        <div class="card shadow">
            <div class="card-header bg-primary py-2"></div>
            <div class="card-body">
                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pb-2">
                        <p class="p-0 m-0 text-muted fs-6">PLAN:</p>
                        <span>{{ subscription.plan }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">AMOUNT:</p>
                        <span>${{ subscription.plan.amount|intcomma }} /{{ subscription.plan.interval_count }}
                            month{{ subscription.plan.interval_count|pluralize }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">SUBSCRIPTION DATE:</p>
                        <span>{{ subscription.subscription_date|date:"F j, Y" }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">EXPIRATION DATE:</p>
                        <span>{{ subscription.expiration_date|date:"F j, Y" }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3">
                        <p class="p-0 m-0 text-muted fs-6">STATUS</p>
                        <span
                            class="badge py-2 px-3 rounded-pill text-bg-{% if subscription.status == 'A' %}success{% else %}danger opacity-75{% endif %}">{{ subscription.get_status_display }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h1 class="h3 mb-1 text-dark">Welcome, {{ subscriber.username }}. Choose a subscription plan below</h1>
        <p class="small m-0">You will need to subscribe to a plan to be granted access to <span
                class="text-primary">{{ server_owner.get_choice_server }}</span> by the Server owner.</p>
    </div>
    {% if not user.is_affiliate %}
    <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#affiliateModal"><i
            class="fas fa-user-tie me-1"></i> Become an Affiliate</a>
    {% endif %}
</div>
{% endif %}
<h5 class="text-secondary mb-3">Subscription Plans</h5>
<div class="row g-4 mb-5">
    {% for plan in plans %}
    <div class="col-lg-4">
        <div class="card shadow h-100 pb-2">
            <div class="card-header bg-primary py-2"></div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-primary fw-bold">{{ plan.name }}</span>
                    <span class="font-monospace">{{ plan.subscriber_count }}
                        Subscription{{ plan.subscriber_count|pluralize }}</span>
                </div>
                <h5 class="fw-bold my-3">${{ plan.amount|intcomma }}<small> /{{ plan.interval_count }}
                        month{{ plan.interval_count|pluralize }}</small></h5>
                <p>{{ plan.description }}</p>
                <form action="{% url 'subscribe_to_plan' product_id=plan.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-primary" type="submit"><i class="far fa-credit-card me-1"></i>
                        Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="text-center py-5">
        <span class="text-primary fa-stack fa-4x mb-3">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-ban fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="text-dark">No subscription plan found.</h3>
        <p class="mb-5">There are no Plans attached to this server <span
                class="text-primary text-decoration-underline">{{ server_owner.get_choice_server }}</span> yet.</p>
    </div>
    {% endfor %}
</div>


<div class="modal fade" id="affiliateModal" tabindex="-1" role="dialog" aria-labelledby="affiliateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="affiliateModalLabel">Become an Affiliate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'upgrade_to_affiliate' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>You will become an Affiliate and be able to invite users to the server <span
                            class="text-primary text-decoration-underline">{{ server_owner.get_choice_server }}</span>
                        for a commission.</p>
                    <div class="col-12">
                        {% for error in form.body.errors %}
                        <div class="alert alert-danger border-5 border-danger border-top-0 border-end-0 border-bottom-0 mb-1"
                            role="alert">
                            <i class="fa-solid fa-triangle-exclamation me-1"></i> {{ error }}
                        </div>
                        {% endfor %}
                        <label class="form-label" for="{{ form.body.id_for_label }}">Payment Method:</label>
                        {% render_field form.body placeholder="Describe how you will like to be paid your commission" %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-outline-dark" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-user-tie me-1"></i> Become an
                        Affiliate</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelSubscription" tabindex="-1" role="dialog"
    aria-labelledby="cancelSubscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Cancel Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                <p>Are you sure you want to cancel your subscription?</p>
                <p>Your subscription will not be renewed if you proceed and you will lose access to the server once your
                    current subscription expires.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-dark" type="button" data-bs-dismiss="modal">Close</button>
                <form method="POST" action="{% url 'subscription_cancel' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-ban me-1"></i>
                        Cancel Subscription</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}