{% extends "base.html" %}

{% block title %}My Dashboard{% endblock title %}

{% block content %}

{% if subscription %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h3 class="mb-0 text-secondary">Welcome back!</h3>
        <small>Here is your dashboard overview</small>
    </div>
    <div>
        {% if not user.is_affiliate %}
        <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#affiliateModal"><i
                class="fas fa-user-tie me-1"></i> Become an Affiliate</a>
        {% endif %}
        {% if subscription.status == "A" %}
        <a class="btn btn-danger btn-sm" data-bs-target="#cancelSubscription" data-bs-toggle="modal"><i
                class="fas fa-ban me-1"></i> Cancel
            Subscription</a>
        {% endif %}
    </div>
</div>
<div class="row mb-4">
    {% include "subscriber/partials/_payment_due.html" %}
    {% include "subscriber/partials/_current_bill.html" %}
    {% include "subscriber/partials/_current_plan.html" %}
</div>

<h5 class="text-secondary mb-3">Subscription History</h5>

<div class="row g-4 mb-5">
    {% for subscription in subscriptions %}
    {% include "subscriber/partials/_subscription_card.html" %}
    {% endfor %}
    <div class="d-flex justify-content-between">
        <p class="text-body-secondary">Showing <span>{{ subscriptions.start_index }}-{{ subscriptions.end_index }}</span> of
            <span>{{ subscriptions.paginator.count }}</span>
            Subscription{{ subscriptions.paginator.count|pluralize }}
        </p>
        <div>{% include 'partials/_pagination.html' with page_obj=subscriptions %}</div>
    </div>
</div>

{% if not subscription.status == "A" %}
{% include "subscriber/partials/_subscription_plans.html" %}
{% endif %}

{% else %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h1 class="h3 mb-1 text-dark">Welcome, {{ subscriber.username }}. Choose a subscription plan below</h1>
        <p class="small m-0">You will need to subscribe to a plan to be granted access to <span
                class="text-primary">{{ server_owner.get_choice_server }}</span> by the Server owner.</p>
    </div>
    {% if not user.is_affiliate %}
    <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#affiliateModal"><i
            class="fas fa-user-tie me-1"></i> Become an Affiliate</a>
    {% endif %}
</div>

{% include "subscriber/partials/_subscription_plans.html" %}

{% if subscriptions %}
<h5 class="text-secondary mb-3">Subscription History</h5>

<div class="row g-4 mb-5">
    {% for subscription in subscriptions %}
    {% include "subscriber/partials/_subscription_card.html" %}
    {% endfor %}
</div>
{% endif %}

{% endif %}

{% include "subscriber/modals/_become_an_affiliate.html" %}
{% include "subscriber/modals/_cancel_subscription.html" %}

{% endblock %}
