{% extends "base.html" %}

{% block title %}Subscription Successful{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-12 mb-4">
        {% if subscription %}
        <div class="mb-3">
            <a href="{% url 'subscriber_dashboard' %}" class="small"><i class="fas fa-arrow-left me-1"></i> Back to Dashboard</a>
        </div>
        <div class="card invoice">
            <div class="card-header p-4 p-md-5 border-bottom-0 bg-primary text-white-50">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-start">
                        <div class="h2 text-white mb-0  text-lg-start">SUB365.co</div>
                        Discord Server Management
                    </div>
                    <div class="col-12 col-lg-auto text-center text-lg-end">
                        <div class="h3 text-white">Invoice</div>
                        #{{ subscription.id }}
                        <br />
                        {{ subscription.created|date:"F j, Y"}}
                    </div>
                </div>
            </div>
            <div class="card-body p-4 p-md-5">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="border-bottom">
                            <tr class="small text-uppercase text-muted">
                                <th scope="col">Plan</th>
                                <th class="text-end" scope="col">Subscription Date</th>
                                <th class="text-end" scope="col">Expiration Date</th>
                                <th class="text-end" scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom">
                                <td>
                                    <div class="fw-bold">{{ subscription.plan.name }}</div>
                                    <div class="small text-muted d-none d-md-block">{{ subscription.plan.description }}
                                    </div>
                                </td>
                                <td class="text-end fw-bold">{{ subscription.subscription_date|date:"j F, Y" }}</td>
                                <td class="text-end fw-bold">{{ subscription.expiration_date|date:"j F, Y" }}</td>
                                <td class="text-end fw-bold">${{ subscription.plan.amount }}</td>
                            </tr>
                            <tr>
                                <td class="text-end pb-0" colspan="3">
                                    <div class="text-uppercase small fw-700 text-muted">Total Amount:</div>
                                </td>
                                <td class="text-end pb-0">
                                    <div class="h5 fw-700 text-success">${{ subscription.plan.amount }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer p-4 p-lg-5 border-top-0">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="small text-muted text-uppercase fw-bold mb-2">To You</div>
                        <div class="h6 mb-1">{{ subscription.subscriber.username }}</div>
                        <div class="small">{{ subscription.subscriber.email }}</div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="small text-muted text-uppercase fw-bold mb-2">From Server Owner</div>
                        <div class="h6 mb-0">{{ subscription.subscribed_via.username }}</div>
                        <div class="small">{{ subscription.subscribed_via.email }}</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="small text-muted text-uppercase fw-bold mb-2">Note</div>
                        <div class="small mb-0">This is your payment invoice for your subscription to the server <span class="text-primary">{{ subscription.subscribed_via.get_choice_server }}</span>. Please contact the server owner if you have any dispute about this.</div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center py-5">
            <span class="text-danger fa-stack fa-4x mb-3">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-bug fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="text-dark">You do not have a valid session</h3>
            <p class="mb-5">We do not have an information on this existing session.<br> The session ID might be incorrect, expired, or associated with a different session.</p>
            <a href="{% url 'subscriber_dashboard' %}" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"><i
                    class="fas fa-tachometer-alt me-1"></i> Return to Dashboard</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
