{% extends "base.html" %}
{% load humanize %}

{% block title %}Confirmed Affiliate Payments{% endblock title %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <a href="{% url 'affiliates' %}" class="small"><i class="fa-solid fa-arrow-left me-1"></i> Back to
            Affiliates</a>
        <h4 class="mb-0 text-secondary">Confirmed Payments</h4>
    </div>
</div>

{% if serverowner.get_confirmed_affiliate_payments %}

<div class="row mb-4">
    {% include 'serverowner/partials/_total_confirmed_affiliates.html' %}
    {% include 'serverowner/partials/_total_confirmed_payments.html' %}
</div>

<h5 class="text-secondary mb-3">Confirmed Affiliate Payments</h5>

<div class="row g-4 mb-5">
    {% for affiliate in affiliates %}
    <div class="col-xl-4 col-md-6 col-12">
        {% include 'serverowner/partials/_payouts_card.html' %}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between">
        <p class="text-body-secondary">Showing <span>{{ affiliates.start_index }}-{{ affiliates.end_index }}</span> of
            <span>{{ affiliates.paginator.count }}</span>
            confirmed payment{{ affiliates.paginator.count|pluralize }}
        </p>
        <div>{% include 'partials/_pagination.html' with page_obj=affiliates %}</div>
    </div>
</div>

{% else %}
<div class="text-center py-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-solid fa-file-invoice-dollar fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">No Payments Made.</h3>
    <p class="mb-5">You currently have no payments made to an Affiliate.</p>
    {% if serverowner.get_pending_affiliate_payments %}
    <a href="{% url 'pending_affiliate_payment' %}" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"><i
            class="fa-solid fa-eye me-1"></i> View Pending Payments</a>
    {% endif %}
</div>
{% endif %}
{% endblock content %}
