{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Sub365.co</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="{% static 'styles/app.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="text-center text-primary">
                <span class="fa-stack fa-6x">
                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                    <i class="fa-solid {% block icon %}{% endblock icon %} fa-stack-1x fa-inverse"></i>
                </span>
                <h1 class="mt-4 fw-bold display-1">
                    {% block code_icon %}{% endblock code_icon %}
                </h1>
                <h5 class="text-primary mb-3">{% block code_title %}{% endblock code_title %}</h5>
                <p class="mb-5 text-dark">{% block content %}{% endblock content %}</p>
                <a href="/" class="btn py-2 px-3 btn-primary shadow-sm rounded-5">
                    <i class="fa-solid fa-home me-1"></i> Go Back Home
                </a>
            </div>
        </div>
    </div>

</body>

</html>
