{% extends "base.html" %}

{% block title %}My Dashboard{% endblock title %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h3 class="mb-0 text-secondary">Welcome back!</h3>
        <small>Here is your dashboard overview</small>
    </div>
    <div>
        <a data-bs-toggle="modal" data-bs-target="#paymentMethod" class="btn btn-sm btn-success text-white shadow-sm">
            Payment Method
        </a>
        {% if invitations %}
        <button id="copy-button" class="btn btn-sm btn-primary" data-copy-link="{{ affiliate.affiliate_link }}"><i
                class="far fa-clipboard me-1"></i> Copy Affiliate Link</button>
        {% endif %}
    </div>
</div>

{% if invitations %}
<div class="row mb-4">
    {% include 'affiliate/_affiliate_earnings.html' %}
    {% include 'affiliate/_total_invites.html' %}
    {% include 'affiliate/_subscribed_invites.html' %}
    {% include 'affiliate/_pending_payments.html' %}
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header bg-transparent d-flex justify-content-between">
                <span class="text-primary fw-bold">Affiliate Invitations</span>
            </div>
            <div class="card-body p-0 px-2">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Affiliate Invitee</th>
                                <th>Affiliate Commission</th>
                                <th>Subscription Status</th>
                                <th>Referral Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invitation in invitations %}
                            <tr>
                                <td>{{ invitation.invitee.get_affiliateinvitee_name }}</td>
                                <td>${{ invitation.invitee.get_affiliate_commission_payment }}</td>
                                <td>
                                    <span
                                        class="badge py-2 px-3 rounded-pill text-bg-{% if invitation.status == 'A' %}success{% else %}danger opacity-75{% endif %}">{% if invitation.status == 'A' %}Active{% elif invitation.status == 'E' %}Expired{% else %}Inactive{% endif %}</span>
                                </td>
                                <td>{{ invitation.invitee.created|date:"F j, Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="text-center py-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-link fa-stack-1x fa-inverse"></i>
    </span>
    {% if affiliate.affiliate_link %}
    <h3 class="text-dark">Your affiliate link is ready</h3>
    <p class="mb-5">Share your affiliate link and earn a commission when users pay to join the server.<br> Copy your
        unique affiliate link below.</p>
    <button id="copy-button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"
        data-copy-link="{{ affiliate.affiliate_link }}"><i class="far fa-clipboard me-1"></i> Copy Affiliate
        Link</button>
    {% else %}
    <h3 class="text-dark">Generating affiliate link</h3>
    <p class="text-primary mb-4">Your affiliate link is being generated. Reload this page in a moment.</p>
    <a href="" class="btn btn-primary btn-sm"><i class="fas fa-rotate me-1"></i> Reload Page</a>
    {% endif %}
</div>
{% endif %}

{% load widget_tweaks %}
<div class="modal fade" id="paymentMethod" tabindex="-1" role="dialog" aria-labelledby="paymentMethodLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Method</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action=".">
                    {% csrf_token %}

                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}

                    <div class="row g-3 mb-3">
                        <div class="col-12">
                            {% for error in form.body.errors %}
                            <div class="alert alert-danger border-5 border-danger border-top-0 border-end-0 border-bottom-0 mb-1"
                                role="alert">
                                <i class="fa-solid fa-triangle-exclamation me-1"></i> {{ error }}
                            </div>
                            {% endfor %}
                            {% render_field form.body placeholder="Describe how you will like to be paid your commission" %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-sm btn-outline-dark" type="button"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="updatepaymentMethod"><i
                                class="fas fa-fw fa-pen-to-square"></i> Update
                            Payment Method</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
