{% extends "base.html" %}

{% block title %}My Dashboard{% endblock title %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h3 class="mb-0 text-secondary">Welcome back!</h3>
        <small>Here is your dashboard overview</small>
    </div>
    {% if invitations %}
    <button id="copy-button" class="btn btn-sm btn-primary" data-affiliate-link="{{ affiliate.affiliate_link }}"><i class="far fa-clipboard me-1"></i> Copy Affiliate Link</button>
    {% endif %}
</div>

{% if invitations %}
<div class="row mb-4">
    {% include 'affiliate/_affiliate_earnings.html' %}
    {% include 'affiliate/_total_invites.html' %}
    {% include 'affiliate/_subscribed_invites.html' %}
    {% include 'affiliate/_pending_payments.html' %}
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header bg-transparent d-flex justify-content-between">
                <span class="text-primary fw-bold">Affiliate Invitations</span>
            </div>
            <div class="card-body p-0 px-2">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Affiliate Invitee</th>
                                <th>Affiliate Commission</th>
                                <th>Subscription Status</th>
                                <th>Referral Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invitation in invitations %}
                            <tr>
                                <td>
                                    {% if invitation.get_invitee_subscription %}
                                        {% with subscriber=invitation.get_invitee_subscription.subscriber %}
                                            {{ subscriber.username }}
                                        {% endwith %}
                                    {% else %}
                                    {{ invitation.invitee_discord_id }}
                                    {% endif %}
                                </td>
                                <td>${{ invitation.get_affiliate_commission_payment }}</td>
                                <td>
                                    <span class="badge py-2 px-3 rounded-pill badge-{% if invitation.get_invitee_subscription %}success{% else %}danger{% endif %}">{% if invitation.get_invitee_subscription %}Active{% else %}Not Active{% endif %}</span>
                                </td>
                                <td>{{ invitation.created|date:"F j, Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="text-center py-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-link fa-stack-1x fa-inverse"></i>
    </span>
    {% if affiliate.affiliate_link %}
    <h3 class="text-dark">Your affiliate link is ready</h3>
    <p class="mb-5">Share your affiliate link and earn a commission when users pay to join the server.<br> Copy your unique affiliate link below.</p>
    <button id="copy-button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5" data-affiliate-link="{{ affiliate.affiliate_link }}"><i class="far fa-clipboard me-1"></i> Copy Affiliate Link</button>
    {% else %}
    <h3 class="text-dark">Generating affiliate link</h3>
    <p class="text-primary mb-4">Your affiliate link is being generated. Reload this page in a moment.</p>
    <a href="" class="btn btn-primary btn-sm"><i class="fas fa-rotate me-1"></i> Reload Page</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}

{% block clipboard %}
<script>

    document.getElementById("copy-button").addEventListener("click", function () {
        var affiliateLink = this.getAttribute("data-affiliate-link");

        if (navigator.clipboard && navigator.clipboard.writeText) {
            navigator.clipboard.writeText(affiliateLink)
                .then(function () {
                    alert("Affiliate link copied to clipboard!");
                })
                .catch(function (error) {
                    console.error("Failed to copy affiliate link:", error);
                });
        } else {
            // Fallback for browsers that don't support the Clipboard API
            var textarea = document.createElement("textarea");
            textarea.value = affiliateLink;
            textarea.style.position = "fixed";  // Ensure the textarea is visible
            document.body.appendChild(textarea);
            textarea.focus();
            textarea.select();

            try {
                var successful = document.execCommand("copy");
                var msg = successful ? "Affiliate link copied to clipboard!" : "Failed to copy affiliate link.";
                alert(msg);
            } catch (error) {
                console.error("Failed to copy affiliate link:", error);
            }

            document.body.removeChild(textarea);
        }
    });

</script>
{% endblock clipboard %}
