{% extends "base.html" %}

{% block title %}My Payments{% endblock title %}

{% block content %}

{% if payments %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h3 class="mb-0 text-secondary">Payments Overview</h3>
        <small>See details about your Affiliate commissions.</small>
    </div>
</div>

<div class="row mb-4">
    {% include 'affiliate/partials/_affiliate_earnings.html' %}
    {% include 'affiliate/partials/_pending_payments.html' %}
</div>

<div class="d-flex align-items-center justify-content-between mb-3">
    <h5 class="text-secondary">Payment History</h5>
</div>

<div class="row g-4 mb-5">
    {% for payment in payments %}
    <div class="col-lg-4 col-sm-6">
        {% include 'affiliate/partials/_affiliate_payment_card.html' %}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between">
        <p class="text-body-secondary">Showing <span>{{ payments.start_index }}-{{ payments.end_index }}</span> of
            <span>{{ payments.paginator.count }}</span>
            Payment{{ payments.paginator.count|pluralize }}
        </p>
        <div>{% include 'partials/_pagination.html' with page_obj=payments %}</div>
    </div>
</div>
{% else %}
<div class="text-center py-5 my-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-solid fa-file-invoice-dollar fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">No Commissions Yet.</h3>
    <p class="mb-5">Keep promoting your affiliate link. Once a successful subscription has been made,<br> you'll start
        earning commission payments.</p>
    {% if affiliate.affiliate_link %}
    <button id="copy-button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"
        data-copy-link="{{ affiliate.affiliate_link }}"><i class="fa-regular fa-clipboard me-1"></i> Copy Affiliate
        Link</button>
    {% else %}
    <a href="{% url 'affiliate_payments' %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-rotate me-1"></i>
        Reload
        Page for your Link</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
