{% extends "base.html" %}
{% load humanize %}

{% block title %}My Payments{% endblock title %}

{% block content %}

{% if payments %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h3 class="mb-0 text-secondary">Payments Overview</h3>
        <small>See details about your Affiliate commissions.</small>
    </div>
</div>

<div class="row mb-4">
    {% include 'affiliate/partials/_affiliate_earnings.html' %}
    {% include 'affiliate/partials/_pending_payments.html' %}
</div>

<div class="d-flex align-items-center justify-content-between mb-3">
    <h5 class="text-secondary">Payment History</h5>
</div>

<div class="row g-4 mb-5">
    {% for payment in payments %}
    <div class="col-lg-4 col-sm-6">
        <div class="card shadow">
            <div class="card-header bg-primary py-2"></div>
            <div class="card-body pb-2">
                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pb-2">
                        <p class="p-0 m-0 text-muted fs-6">SUBSCRIBER:</p>
                        <span>{{ payment.subscriber }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">COMMISSION:</p>
                        <span>${{ payment.amount|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">PAYMENT STATUS:</p>
                        <span
                            class="badge py-2 px-3 rounded-pill bg-{% if payment.paid %}success{% else %}danger{% endif %}">{% if payment.paid %}Paid{% else %}Pending{% endif %}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">PAYMENT DATE:</p>
                        <span>{{ payment.date_payment_confirmed|date:"F j, Y" }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between">
        <p class="text-body-secondary">Showing <span>{{ payments.start_index }}-{{ payments.end_index }}</span> of
            <span>{{ payments.paginator.count }}</span>
            Payment{{ payments.paginator.count|pluralize }}
        </p>
        <div>{% include 'partials/_pagination.html' with page_obj=payments %}</div>
    </div>
</div>
{% else %}
<div class="text-center py-5 my-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-file-invoice-dollar fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">No Commissions Yet.</h3>
    <p class="mb-5">Keep promoting your affiliate link. Once a successful subscription has been made,<br> you'll start
        earning commission payments.</p>
    <button id="copy-button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"
        data-copy-link="{{ affiliate.affiliate_link }}"><i class="far fa-clipboard me-1"></i> Copy Affiliate
        Link</button>
</div>
{% endif %}

{% endblock %}
