{% extends "base.html" %}

{% block title %}400 Bad Request{% endblock title %}

{% block content %}

<div class="row d-flex align-items-center py-5">
    <div class="col-12">
        <div class="text-center">
            <h1 class="text-dark mt-4 fw-bold display-1"><i class="fa-solid fa-4"></i><i
                    class="fa-solid fa-0 px-1"></i><i class="fa-solid fa-0"></i></h1>
            <h5 class="text-primary mb-3">400 Bad Request</h5>
            <p>Oops! Something went wrong with your request.</p>
            <p class="mb-5">Please check your request and try again.</p>
            <a href="{% url 'dashboard_view' %}" class="btn btn-primary fw-bold px-4 py-3">Go To Home</a>
        </div>
    </div>
</div>

{% endblock content %}
