{% extends "base_core.html" %}

{% block title %}Page Not Found{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="text-center text-primary">
            <span class="fa-stack fa-6x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-xmark fa-stack-1x fa-inverse"></i>
            </span>
            <h1 class="mt-4 fw-bold display-1"><i class="fa-solid fa-4"></i><i class="fa-solid fa-0 px-1"></i><i
                    class="fa-solid fa-4"></i></h1>
            <h5 class="text-primary mb-3">Page Not Found</h5>
            <p class="mb-5 text-dark">The page you are looking for might have been removed,<br> had its name changed or is
                temporarily unavailable.</p>
            <a href="{% url 'dashboard_view' %}" class="btn btn-primary fw-bold px-4 py-3">Go To Home</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
