{% load widget_tweaks %}
<div class="row">
    <div class="col-sm-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Available Plans</h6>
                {% url 'dashboard' as dashboard_url %}{% if request.get_full_path == dashboard_url %}
                <a data-toggle="modal" data-target="#createPlanModal"
                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    Create New Plan
                </a>
                {% endif %}
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="ligth">
                                <th>Plan Name</th>
                                <th>Subscribers</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Interval</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for plan in stripe_plans %}
                            <tr>
                                <td>{{ plan.name }}</td>
                                <td>{{ plan.subscriber_count }}</td>
                                <td>{{ plan.amount }}</td>
                                <td>USD</td>
                                <td>monthly</td>
                                {% url 'dashboard' as dashboard_url %}{% if request.get_full_path == dashboard_url %}
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                        <a class="btn btn-sm btn-danger" title="Delete Plan" data-toggle="modal"
                                            data-target="#deleteModal{{ plan.id }}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal{{ plan.id }}" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteModalLabel{{ plan.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel{{ plan.id }}">Delete Plan
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this plan?</p>
                                                <strong>{{ plan.name }}</strong>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancel</button>
                                                <form method="POST" action="{% url 'delete_plan' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="product_id" value="{{ plan.id }}">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                        <a class="btn btn-sm btn-success" href="{% url 'subscribe_to_plan' product_id=plan.id %}" title="Subscribe">
                                            Subscribe <i class="fas fa-thumbs-up"></i>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No Plans Found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createPlanModal" tabindex="-1" role="dialog" aria-labelledby="createPlanModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPlanModalLabel">Create Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_plan' %}">
                    {% csrf_token %}
                    <label class="form-label" for="id_name">Enter Plan Name:</label>
                    {% render_field form.name class="form-control mb-3" %}
                    <label class="form-label" for="id_amount">Enter Amount Per Month:</label>
                    {% render_field form.amount class="form-control mb-3" %}
                    <label for="id_description" class="form-label">Description (Optional):</label>
                    {% render_field form.description class="form-control mb-3" %}
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
