{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Sub365.co</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'styles/dashboard.min.css' %}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        {% include '_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow px-5">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <span class="nav-link">
                                <span class="d-none d-lg-inline badge badge-primary opacity-75 small py-2 px-2">Registered on
                                    {{ request.user.date_joined|date:"j F, Y" }}</span>
                                </span>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item">
                            <span class="nav-link">
                                {% if request.user.is_serverowner %}
                                <img class="img-profile rounded-circle me-2" src="{% if user.serverowner.avatar %}https://cdn.discordapp.com/avatars/{{ request.user.serverowner.discord_id }}/{{ request.user.serverowner.avatar }}.png{% else %}https://placehold.it/50x50{% endif %}">
                                <span class="text-gray-600 small">
                                    {{ request.user.serverowner.username|title }} <br>
                                    {{ choice_server.name }}
                                </span>

                                {% else %}
                                <img class="img-profile rounded-circle me-2" src="https://placehold.it/50x50">
                                <span
                                    class="d-none d-lg-inline text-gray-600 small">{{ request.user.subscriber.username|title }}</span>
                                {% endif %}

                            </span>
                        </li>
                    </ul>
                </nav>

                {% block content %}{% endblock content %}
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy;{% now "Y" %} SUB365.co</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {% include 'modals/_logout_modal.html' %}

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/dashboard.min.js' %}"></script>

    <script>
        const copyButton = document.getElementById('copy-button');

        copyButton.addEventListener('click', () => {
            const subscriptionLink = copyButton.getAttribute('data-subscription-link');
            navigator.clipboard.writeText(subscriptionLink)
                .then(() => {
                    alert('Subscription link copied!');
                })
                .catch((error) => {
                    // Log error to console if copying to clipboard fails
                    console.error('Failed to copy subscription link:', error);
                });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: form.serialize(),
                    dataType: 'json',
                    success: function (response) {
                        window.location.href = response.redirect_url;
                    },
                    error: function () {
                        alert('An error occurred.');
                    }
                });
            });
        });
    </script>

</body>

</html>
