{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Sub365.co</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="{% static 'styles/app.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% block content %}{% endblock content %}
</body>

</html>
