{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Sub365.co</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="{% static 'styles/bootstrap-5.3.0.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap5.css' %}" rel="stylesheet">
    <link href="{% static 'styles/app5.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% if messages %}
    {% for message in messages %}
    <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 999;">
        <div class="toast align-items-center text-white bg-{{ message.tags }} border-0" data-bs-delay="10000"
            role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">{{ message }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% block header %}
    <header class="navbar navbar-expand-lg navbar-dark bg-primary shadow py-lg-3">
        <div class="container">
            <a href="{% url 'index' %}" class="navbar-brand">
                <div class="fw-bold fs-4"><img src="{% static 'img/sub365logo-light.svg' %}" alt="sub365logo-light">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="d-flex ms-lg-auto mb-3 mb-lg-0 mt-3 mt-lg-0">
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-primary border rounded-3 text-white me-1" href="{% url 'dashboard_view' %}">
                        <i class="fa-solid fa-tachometer-alt me-1"></i> My Dashboard
                    </a>
                    <a data-bs-target="#logoutModal" data-bs-toggle="modal"
                        class="btn btn-danger border border-danger rounded-3 text-white"><i
                            class="fa-solid fa-sign-out-alt me-1"></i>
                        Logout</a>
                    {% else %}
                    <form method="post" action="{% url 'discord_login' %}">
                        {% csrf_token %}
                        <button class="btn btn-primary border rounded-3 text-white" type="submit">
                            <i class="fa-brands fa-discord me-1"></i> Sign in with Discord
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <div class="container mt-auto">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-lg-0 text-body-secondary ps-0">&copy;{% now "Y" %} &bull; All rights reserved</p>

            <a href="{% url 'index' %}"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{% static 'img/sub365-logo.svg' %}" alt="sub365-logo">
            </a>

            <ul class="nav col-md-4 justify-content-end pe-0">
                <li class="nav-item"><a href="/about/" class="nav-link px-2 text-body-secondary">About</a></li>
                <li class="nav-item"><a href="/feedback/" class="nav-link px-2 text-body-secondary">Feedback</a></li>
                <li class="nav-item"><a href="/policy/" class="nav-link px-2 text-body-secondary">Privacy Policy</a>
                </li>
            </ul>
        </footer>
    </div>
    {% endblock footer %}

    {% include 'modals/_logout_modal.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>
