{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Sub365.co</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="{% static 'styles/bootstrap-5.3.0.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap5.css' %}" rel="stylesheet">
    <link href="{% static 'styles/app5.css' %}" rel="stylesheet">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="wrapper">
        {% include 'partials/_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow px-lg-5 px-3">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <span class="nav-link">
                                <span class="d-none d-lg-inline badge bg-primary small py-2 px-2">Registered on
                                    {{ user.date_joined|date:"j F, Y" }}</span>
                            </span>
                        </li>
                        <div class="topbar-divider d-none d-lg-block"></div>
                        <li class="nav-item">
                            <span class="nav-link">
                                {% if user.is_serverowner %}
                                {% if user.serverowner.avatar %}
                                <img class="img-profile rounded-circle me-2"
                                    src="https://cdn.discordapp.com/avatars/{{ user.serverowner.discord_id }}/{{ user.serverowner.avatar }}.png">
                                {% endif %}
                                <span class="text-secondary small">
                                    {{ user.serverowner.username }} <br>
                                    {{ choice_server.name }}
                                </span>
                                {% else %}
                                {% if user.subscriber.avatar %}
                                <img class="img-profile rounded-circle me-2"
                                    src="https://cdn.discordapp.com/avatars/{{ user.subscriber.discord_id }}/{{ user.subscriber.avatar }}.png">
                                {% endif %}
                                <span class="text-secondary small">
                                    {{ user.subscriber.username }}<br>
                                    {% if user.is_affiliate %}Affiliate{% else %}Subscriber{% endif %}
                                </span>
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                </nav>

                {% if messages %}
                {% for message in messages %}
                <div class="container mt-2 px-lg-5">
                    <div class="alert alert-{{ message.tags }} border-5 border-{{ message.tags }} border-top-0 border-end-0 border-bottom-0 alert-dismissible fade show"
                        role="alert">
                        <i
                            class="fa-solid {% if message.tags == 'danger' %}fa-triangle-exclamation{% elif message.tags == 'success' %}fa-circle-check{% endif %} me-1"></i>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="container-fluid px-lg-5 mt-4">
                    {% block content %}{% endblock content %}
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer pb-3 pt-4 bg-white">
                <div class="container-fluid px-lg-5">
                    <div class="d-flex justify-content-between align-item-center">
                        <img src="{% static 'img/sub365-logo.svg' %}" alt="">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="/about/">About Us</a></li>
                            <li class="list-inline-item"><a href="/feedback/">Feeback</a></li>
                            <li class="list-inline-item"><a href="/policy/">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {% include 'modals/_logout_modal.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
    {% block script %}{% endblock script %}

</body>

</html>
