{% extends "base.html" %}

{% block title %}My Dashboard{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome, {{ profile.username }}</h1>
        <button id="copy-button" class="btn btn-sm btn-success"
            data-subscription-link="{{ request.scheme }}://{{ request.get_host }}/subscribe/?subdomain={{ request.user.serverowner.subdomain }}">Copy Subscription Link</button>
    </div>
    <div class="row">
        {% include '_total_earnings.html' %}
        {% include '_total_subscribers.html' %}
        {% include '_total_plans.html' %}
        {% include '_total_payments.html' %}
    </div>
    {% include '_plans_row.html' %}
    {# include '_subscribers_row.html' #}
</div>
{% endblock content %}