{% extends "base.html" %}
{% load static socialaccount %}

{% block title %}Welcome!{% endblock title %}

{% block content %}

<style>
    .bg-image {
        background-image: url("{% static 'img/3.jpg' %}");
        background-size: cover;
        background-position: center center;
    }
</style>


<div class="row">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <div class="col-md-6 bg-light">
        <div class="d-flex align-items-center justify-content-center py-4 px-2 vh-100">
            <div class="mx-auto bg-white justify-content-center p-5 text-center" style="width: 450px;">
                <img src="{% static 'img/sub365-logo.svg' %}" alt="sub365-logo">
                <h6 class="my-4 text-dark">Manage the subscriptions to your discord servers seamlessly.</h6>
                <form method="post" action="{% provider_login_url 'discord' %}">
                    {% csrf_token %}
                    <button class="btn btn-success py-3 w-100" type="submit">
                        Sign in with Discord
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}