{% extends "base.html" %}
{% load humanize %}

{% block title %}Subscriber: {{ subscriber.username }}{% endblock title %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <a href="{% url 'subscribers' %}" class="small"><i class="fas fa-arrow-left me-1"></i> Back to Subscribers</a>
    </div>
</div>

{% if subscriber.get_subscriptions %}

<div class="row mb-4">
    {% include 'subscriber/partials/_subscriber_info.html' %}
    {% if subscription %}
    {% include "subscriber/partials/_payment_due.html" %}
    {% include "subscriber/partials/_current_bill.html" %}
    {% include "subscriber/partials/_current_plan.html" %}
    {% endif %}
</div>

<h5 class="text-secondary mb-3">Subscription History</h5>

<div class="row g-4 mb-5">
    {% for subscription in subscriptions %}
    <div class="col-lg-4 col-sm-6">
        <div class="card shadow">
            <div class="card-header bg-primary py-2"></div>
            <div class="card-body">
                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pb-2">
                        <p class="p-0 m-0 text-muted fs-6">PLAN:</p>
                        <span>{{ subscription.plan }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">AMOUNT:</p>
                        <span>${{ subscription.plan.amount|intcomma }} /{{ subscription.plan.interval_count }}
                            month{{ subscription.plan.interval_count|pluralize }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">SUBSCRIPTION DATE:</p>
                        <span>{{ subscription.subscription_date|date:"F j, Y" }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">EXPIRATION DATE:</p>
                        <span>{{ subscription.expiration_date|date:"F j, Y" }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3">
                        <p class="p-0 m-0 text-muted fs-6">STATUS</p>
                        <span
                            class="badge py-2 px-3 rounded-pill bg-{% if subscription.status == 'A' %}success{% else %}danger{% endif %}">{{ subscription.get_status_display }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between">
        <p class="text-body-secondary">Showing <span>{{ subscriptions.start_index }}-{{ subscriptions.end_index }}</span>
            of <span>{{ subscriptions.paginator.count }}</span>
            subscription{{ subscriptions.paginator.count|pluralize }}</p>
        <div>{% include 'partials/_pagination.html' with page_obj=subscriptions %}</div>
    </div>
</div>
{% else %}
<div class="text-center py-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-face-frown fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">{{ subscriber.username }} is yet to subscribe to any of your plan</h3>
    <p class="mb-5">Maybe you should personally reach out to {{ subscriber.username }}, <br> to know why they are yet to
        activate any of your subscription plan.</p>
    <a target="_blank" href="mailto:{{ subscriber.email }}" class="btn btn-primary rounded-5 py-2 px-4 shadow-sm"><i
            class="far fa-envelope me-1"></i> Send a Mail</a>
</div>
{% endif %}

{% endblock content %}
