{% extends "base.html" %}
{% load humanize %}

{% block title %}Affiliate: {{ affiliate.subscriber.username }}{% endblock title %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <a href="{% url 'affiliates' %}" class="small"><i class="fa-solid fa-arrow-left me-1"></i> Back to
            Affiliates</a>
    </div>
</div>

{% if affiliate.get_affiliate_invitees %}

<div class="row mb-4">
    {% include 'serverowner/affiliate/partials/_affiliate_name.html' %}
    {% if affiliate %}
    {% include 'serverowner/affiliate/partials/_affiliate_total_invitations.html' %}
    {% include 'serverowner/affiliate/partials/_affiliate_total_earnings.html' %}
    {% include 'serverowner/affiliate/partials/_affiliate_conversion_rate.html' %}
    {% endif %}
</div>

<h5 class="text-secondary mb-3">Affiliate Invitees</h5>
{% include "affiliate/partials/_affiliate_invitee_section.html" %}

{% else %}
<div class="text-center py-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-solid fa-face-frown fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">{{ affiliate.subscriber.username }} is yet to invite any subscriber to your server.</h3>
    <p class="mb-5">Maybe you should personally reach out to {{ affiliate.subscriber.username }}, <br> to encourage them
        to invite subscribers to your server and earn commissions.</p>
    <a target="_blank" href="mailto:{{ affiliate.subscriber.email }}"
        class="btn btn-primary rounded-5 py-2 px-4 shadow-sm"><i class="far fa-envelope me-1"></i> Send a Mail</a>
</div>
{% endif %}

{% endblock content %}
