{% extends "base_core.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block discord_auth %}
<div class="collapse navbar-collapse" id="navbarToggler">
    <div class="d-flex ms-lg-auto mb-3 mb-lg-0 mt-lg-0 mt-3">
        <a class="btn btn-primary border rounded-3 text-white" href="{% url 'dashboard_view' %}">
            <i class="fa-solid fa-tachometer-alt me-1"></i> My Dashboard
        </a>
    </div>
</div>
{% endblock discord_auth %}

{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <h3 class="text-primary mb-3">{{ flatpage.title }}</h3>
            {{ flatpage.content|linebreaks }}
        </div>
    </div>
</section>

{% endblock content %}
