{% extends "base.html" %}
{% load humanize %}
{% block title %}My Affiliates{% endblock title %}

{% block content %}

{% if serverowner.get_affiliate_users %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h1 class="h3 mb-0 text-secondary">Affiliates Overview</h1>
        <small>See all details about your affiliates</small>
    </div>
    <div>
        <a href="{% url 'confirmed_affiliate_payment' %}" class="btn btn-sm btn-success text-white shadow-sm">
            <i class="fas me-1 fa-sack-dollar"></i> Payments Made
        </a>
        <a href="{% url 'pending_affiliate_payment' %}" class="btn btn-sm btn-primary shadow-sm">
            <i class="fas me-1 fa-hand-holding-dollar"></i> Pending Payments
        </a>
    </div>
</div>

<div class="row mb-4">
    {% include 'serverowner/partials/_total_affiliates.html' %}
    {% include 'serverowner/partials/_total_payments_made.html' %}
    {% include 'serverowner/_pending_payments.html' %}
</div>

<h5 class="text-secondary mb-3">All Affiliates</h5>

<div class="row g-4 mb-5">
    {% for affiliate in serverowner.get_affiliates %}
    <div class="col-lg-4 col-sm-6">
        <div class="card shadow">
            <div class="card-header bg-primary py-2"></div>
            <div class="card-body pb-2">
                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pb-2">
                        <p class="p-0 m-0 text-muted fs-6">USER:</p>
                        <span>{{ affiliate.subscriber.username }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">TOTAL INVITES:</p>
                        <span>{{ affiliate.get_total_invitation_count }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">TOTAL EARNINGS:</p>
                        <span>${{ affiliate.total_commissions_paid|intcomma }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">CONVERSION RATE:</p>
                        <span>{{ affiliate.calculate_conversion_rate }}%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="text-center py-5 my-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-sack-xmark fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">No Affiliate Yet.</h3>
    <p>You can encourage your subscribers to upgrade to an Affiliate account <br> so they can invite more users to your
        server and earn a commission.</p>
</div>
{% endif %}

{% endblock content %}
