{% extends "base.html" %}

{% block title %}My Dashboard{% endblock title %}

{% block content %}

{% if serverowner.get_plan_count %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="mb-3 mb-lg-0">
        <h3 class="mb-0 text-secondary">Welcome back!</h3>
        <small>Here is your dashboard overview</small>
    </div>
    <button id="copy-button" class="btn btn-sm btn-primary"
        data-copy-link="{{ request.scheme }}://{{ request.get_host }}/subscribe/?ref={{ serverowner.subdomain }}"><i
            class="fa-regular fa-clipboard me-1"></i> Copy Subscription Link</button>
</div>
<div class="row mb-4">
    {% include 'serverowner/partials/_total_earnings.html' %}
    {% include 'serverowner/subscribers/partials/_total_subscribers.html' %}
    {% include 'serverowner/plans/partials/_total_plans.html' %}
    {% include 'serverowner/partials/_total_pending_payments.html' %}
</div>

{% if serverowner.get_popular_plans %}
<h5 class="text-secondary mb-3">Popular Plans</h5>
<div class="row g-4 mb-5">
    {% for plan in serverowner.get_popular_plans %}
    <div class="col-xl-4 col-md-6 col-12">
        {% include 'serverowner/plans/partials/_plan_card.html' %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if serverowner.get_latest_subscriptions %}
<h5 class="text-secondary mb-3">Latest Subscriptions</h5>
<div class="row g-4 mb-5">
    {% for subscriber in serverowner.get_latest_subscriptions.all %}
    <div class="col-xl-4 col-md-6 col-12">
        {% include 'serverowner/partials/_subscriber_card.html' %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% else %}
<div class="row mb-4 mt-5">
    <h1 class="h3 mb-1 text-dark">Complete setting up your dashboard</h1>
    <p class="small m-0">You will be able to activate your dashboard after this.</p>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-3 shadow-sm">
            <div class="card-body pb-1">
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <i class="fa-solid fa-list-check lh-base fa-2x me-3 text-primary d-none d-md-block"></i>
                        <div>
                            <h5 class="m-0 mb-1 p-0">Discord Bot Invitation</h5>
                            <p class="text-secondary small">Click on the link to invite the discord bot to your server
                                to generate affiliate links for users.</p>
                        </div>
                    </div>
                    <div>
                        <a href="https://discord.com/api/oauth2/authorize?client_id={{ discord_client_id }}&permissions=8&scope=bot"
                            class="btn py-2 px-4 btn-outline-primary shadow-sm rounded-5" target="_blank">
                            <i class="fa-solid fa-robot me-1"></i> Invite Discord Bot
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-body pb-1">
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <i class="fa-solid fa-list-check lh-base fa-2x me-3 text-primary d-none d-md-block"></i>
                        <div>
                            <h5 class="m-0 mb-1 p-0">Setup your subscriptions for your Server</h5>
                            <p class="text-secondary small">You'll need to create a subscription plan to activate your
                                dashboard.</p>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'plans' %}" class="btn py-2 px-4 btn-outline-primary shadow-sm rounded-5">
                            <i class="fa-solid fa-plus me-1"></i> Create a Subscription Plan
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-body pb-1">
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <i class="fa-solid fa-list-check lh-base fa-2x me-3 text-primary d-none d-md-block"></i>
                        <div>
                            <h5 class="m-0 mb-1 p-0">Get a Subscriber</h5>
                            <p class="text-secondary small">Subscribers pay you money for access to your servers and its
                                perks.
                            </p>
                        </div>
                    </div>
                    <div>
                        <button id="copy-button" class="btn py-2 px-4 btn-outline-primary shadow-sm rounded-5"
                            data-copy-link="{{ request.scheme }}://{{ request.get_host }}/subscribe/?ref={{ serverowner.subdomain }}"><i
                                class="fa-regular fa-clipboard me-1"></i> Copy Subscription Link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
