{% extends "base.html" %}

{% block title %}My Plans{% endblock title %}

{% block content %}

    {% if stripe_plans %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div>
            <h1 class="h3 mb-0 text-gray-800">Subscription Plans Overview</h1>
            <small>Manage the subscription plans for your server</small>
        </div>
        <a data-toggle="modal" data-target="#createPlanModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Create New Plan
        </a>
    </div>


    <h5 class="text-gray-800 mb-3">All Subscription Plans <span class="ms-2 small badge badge-primary opacity-75">{{ plan_count }}</span></h5>

    <div class="row g-4 mb-5">
        {% for plan in stripe_plans %}
        <div class="col-xl-4 col-lg-5">
            {% include 'serverowner/_plan_card.html' %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center py-5">
        <span class="text-primary fa-stack fa-4x mb-3">
            <i class="fas fa-cloud fa-stack-2x"></i>
            <i class="fas fa-bell-concierge fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="text-dark">Start selling Subscriptions with Stripe Products</h3>
        <p class="mb-5">Your products are hosted on your stripe account <br> and we provide a seamless integration for
            managing them here.</p>
        <button type="button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5" data-toggle="modal" data-target="#createPlanModal">
            <i class="fa-solid fa-plus me-1"></i> Create a Subscription Plan
        </button>
    </div>
    {% endif %}

{% include 'modals/_create_plan_modal.html' %}
{% endblock content %}
