{% extends "base.html" %}

{% block title %}Plan: {{ plan.name }}{% endblock title %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <a href="{% url 'plans' %}" class="small"><i class="fas fa-arrow-left me-1"></i> Back to Plans</a>
        <h3 class="mb-0 text-secondary">Plan: {{ plan.name }} <span class="text-primary h6">(${{ plan.amount }}
                <small>/{{ plan.interval_count }} month{{ plan.interval_count|pluralize }}</small>)</span></h3>
    </div>
    {% if plan.status == 'A' %}
    <div>
        <a data-bs-toggle="modal" data-bs-target="#updatePlan{{ plan.id }}"
            class="btn btn-sm btn-success text-white shadow-sm">
            Update Plan
        </a>
        <a data-bs-toggle="modal" data-bs-target="#deactivatePlan{{ plan.id }}" class="btn btn-sm btn-danger shadow-sm">
            Deactivate Plan
        </a>
    </div>
    {% else %}
    <span class="badge py-2 px-3 text-bg-danger">Plan Deactivated</span>
    {% endif %}
</div>

{% if subscribers %}
<div class="row mb-4">
    {% include 'serverowner/_plan_total_amount.html' %}
    {% include 'serverowner/_plan_total_subscriptions.html' %}
    {% include 'serverowner/_plan_active_subscriptions.html' %}
</div>

<h5 class="text-secondary mb-3">Subscription History</h5>
<div class="row g-4 mb-5">
    {% for subscriber in subscribers %}
    <div class="col-lg-4 col-sm-6">
        <div class="card shadow mb-4">
            <div class="card-header bg-primary py-3"></div>
            <div class="card-body pb-2">
                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pb-2">
                        <p class="p-0 m-0 text-muted fs-6">USER:</p>
                        <span>{{ subscriber.subscriber.username }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">EMAIL:</p>
                        <span>{{ subscriber.subscriber.email }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">SUBSCRIPTION DATE:</p>
                        <span>{{ subscriber.subscription_date|date:"F j, Y" }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">EXPIRATION DATE:</p>
                        <span>{{ subscriber.expiration_date|date:"F j, Y" }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">STATUS:</p>
                        <span
                            class="badge py-2 px-3 rounded-pill text-bg-{% if subscriber.status == 'A' %}success{% else %}danger{% endif %}">{{ subscriber.get_status_display }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
{% if plan.status == 'I' %}
<div class="text-center py-5">
    <span class="text-danger fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-ban fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">Plan Deactivated</h3>
    <p class="mb-5">You have deactivated this subscription plan, and there are no subscription history.</p>
</div>
{% else %}
<div class="text-center py-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-face-frown fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">You have no Subscriber for this Plan yet.</h3>
    <p class="mb-5">Don't worry, you can start getting subscribers by sharing your subscription link.<br> Simply copy
        your unique subscription link below.</p>
    <button id="copy-button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"
        data-copy-link="{{ request.scheme }}://{{ request.get_host }}/subscribe/?subdomain={{ request.user.serverowner.subdomain }}"><i
            class="far fa-clipboard me-1"></i> Copy Subscription Link</button>
</div>
{% endif %}
{% endif %}

{% include 'modals/_update_plan_modal.html' %}
{% include 'modals/_deactivate_plan_modal.html' %}

{% endblock content %}
