{% extends "base.html" %}

{% block title %}Plan: {{ plan.name }}{% endblock title %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div>
            <a href="{% url 'plans' %}" class="small"><i class="fas fa-arrow-left me-1"></i> Back to Plans</a>
            <h3 class="mb-0 text-secondary">Plan: {{ plan.name }} <span class="text-primary h6">(${{ plan.amount }} <small>/{{ plan.interval_count }} month{{ plan.interval_count|pluralize }}</small>)</span></h3>
        </div>
        {% if plan.status == 'A' %}
        <div>
            <a data-toggle="modal" data-target="#deactivatePlan{{ plan.id }}" class="btn btn-sm btn-danger shadow-sm">
                Deactivate Plan
            </a>
        </div>
        {% endif %}
    </div>

    {% if subscribers %}
    <div class="row mb-4">
        {% include 'serverowner/_plan_total_amount.html' %}
        {% include 'serverowner/_plan_total_subscribers.html' %}
        {% include 'serverowner/_plan_active_subscribers.html' %}
    </div>

    <h5 class="text-secondary mb-3">Subscribers</h5>
    <div class="row">
        <div class="col-sm-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-primary"></div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th>Subscription Date</th>
                                    <th>Expiration Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subscriber in subscribers %}
                                <tr>
                                    <td>{{ subscriber.subscriber.username }}</td>
                                    <td>{{ subscriber.subscriber.email }}</td>
                                    <td>{{ subscriber.subscription_date|date:"F j, Y" }}</td>
                                    <td>{{ subscriber.expiration_date|date:"F j, Y" }}</td>
                                    <td><span class="badge text-bg-{% if subscriber.status == 'A' %}success{% else %}danger{% endif %}">{{ subscriber.get_status_display }}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {% if plan.status == 'I' %}
        <div class="text-center py-5">
            <span class="text-danger fa-stack fa-4x mb-3">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-ban fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="text-dark">Plan Deactivated</h3>
            <p class="mb-5">You have deactivated this subscription plan, and there are no subscription history.</p>
        </div>
        {% else %}
        <div class="text-center py-5">
            <span class="text-primary fa-stack fa-4x mb-3">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-face-frown fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="text-dark">You have no Subscriber for this Plan yet.</h3>
            <p class="mb-5">Don't worry, you can start getting subscribers by sharing your subscription link.<br> Simply copy
                your unique subscription link below.</p>
            <button id="copy-button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"
                data-subscription-link="{{ request.scheme }}://{{ request.get_host }}/subscribe/?subdomain={{ request.user.serverowner.subdomain }}"><i
                    class="far fa-clipboard me-1"></i> Copy Subscription Link</button>
        </div>
        {% endif %}
    {% endif %}

{% include 'modals/_deactivate_plan_modal.html' %}

{% endblock content %}
