{% extends "base.html" %}

{% block title %}My Subscribers{% endblock title %}

{% block content %}

<div class="container-fluid px-5">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div>
            <h1 class="h3 mb-0 text-gray-800">Subscribers Overview</h1>
            <small>See all details about your subscribers</small>
        </div>
    </div>

    {% if subscribers %}
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h5 class="text-gray-800">All Subscribers <span class="ms-2 small badge badge-primary opacity-75">{{ subscriber_count }}</span></h5>
    </div>

    {% include '_subscribers_row.html' %}
    {% else %}
    <div class="text-center pt-3 pb-5">
        <span class="text-primary fa-stack fa-4x mb-3">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-face-frown fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="text-dark">You have no Subscriber yet.</h3>
        <p class="mb-3">Don't worry, you can start getting subscribers by sharing your subscription link. Simply copy your unique subscription link below.</p>
        <a class="text-decoration-none btn py-2 px-4 btn-primary shadow-sm rounded-5">
            <small class="pb-5">Copy Subscription Link</small>
        </a>
    </div>
    {% endif %}
</div>

{% endblock content %}
