{% extends "base.html" %}

{% block title %}My Subscribers{% endblock title %}

{% block content %}

{% if subscribers %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
        <h1 class="h3 mb-0 text-secondary">Subscribers Overview</h1>
        <small>See all details about your subscribers</small>
    </div>
    <button id="copy-button" class="btn btn-sm btn-primary"
        data-copy-link="{{ request.scheme }}://{{ request.get_host }}/subscribe/?ref={{ serverowner.subdomain }}"><i
            class="far fa-clipboard me-1"></i> Copy Subscription Link</button>
</div>

<div class="row mb-4">
    {% include 'serverowner/_total_subscribers.html' %}
    {% include 'serverowner/_active_subscribers.html' %}
    {% include 'serverowner/_inactive_subscribers.html' %}
</div>

<h5 class="text-secondary mb-3">All Subscribers</h5>

<div class="row g-4 mb-5">
    {% for subscriber in subscribers %}
    <div class="col-lg-4 col-sm-6">
        <div class="card shadow">
            <div class="card-header bg-primary py-2"></div>
            <div class="card-body pb-2">
                <ul class="bg-transparent border-top-0 border-bottom-0 bg-white d-block p-0 m-0 lh-sm">
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pb-2">
                        <p class="p-0 m-0 text-muted fs-6">USER:</p>
                        <span>{{ subscriber.username }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">EMAIL:</p>
                        <span>{{ subscriber.email }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">DATE JOINED:</p>
                        <span>{{ subscriber.created|date:"F j, Y" }}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base border-bottom pt-3 pb-2">
                        <p class="p-0 m-0 text-muted fs-6">LAST SUBSCRIPTION:</p>
                        <span
                            class="badge py-2 px-3 rounded-pill text-bg-{% if subscriber.has_active_subscription %}success{% else %}danger{% endif %}">{% if subscriber.has_active_subscription %}Active{% else %}Inactive{% endif %}</span>
                    </li>
                    <li
                        class="ps-0 pe-0 d-flex align-items-center justify-content-between position-relative lh-base pt-3 pb-2">
                        <p></p>
                        <a href="{% url 'subscriber_detail' subscriber.id %}" class="btn btn-primary btn-sm">
                            <i class="fas fa-hourglass me-1"></i> View History
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between mt-5">
        <p class="text-body-secondary">Showing <span>{{ subscribers.start_index }}-{{ subscribers.end_index }}</span> of
            <span>{{ subscribers.paginator.count }}</span>
            subscriber{{ subscribers.paginator.count|pluralize }}
        </p>
        <div>{% include '_pagination.html' with page_obj=subscribers %}</div>
    </div>
</div>

{% else %}
<div class="text-center py-5 my-5">
    <span class="text-primary fa-stack fa-4x mb-3">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-face-frown fa-stack-1x fa-inverse"></i>
    </span>
    <h3 class="text-dark">You have no Subscriber yet.</h3>
    <p class="mb-5">Don't worry, you can start getting subscribers by sharing your subscription link.<br> Simply copy
        your unique subscription link below.</p>
    <button id="copy-button" class="btn py-2 px-4 btn-primary shadow-sm rounded-5"
        data-copy-link="{{ request.scheme }}://{{ request.get_host }}/subscribe/?ref={{ serverowner.subdomain }}"><i
            class="far fa-clipboard me-1"></i> Copy Subscription Link</button>
</div>
{% endif %}


{% endblock content %}
